![logo](banner.jpg)

<h1><center><span style="color:blue">TASCA 21 - IT Academy</span></center></h1>
<h2><center><span style="color:blue">Curs Data Science</span></center></h2>

In [109]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import time
import re

### <span style="color:black">Exercici 1.</span>

__Descarrega't Kibana i mostra algunes gràfiques utilitzant conjunts de dades d'Exemple:__ <span style="color:blue">__[X] Fet__</span>

In [ ]:
# Gráficos realizados con el dataset de ejemplo Delayed Flights.

![img](DelayedFlights.png)

### <span style="color:black">Exercici 2.</span>

__Implementa un dashboard que visualitzi interactivament les dades que triïs:__ <span style="color:blue">__[X] Fet__</span>

In [ ]:
# Como mi background profesional es en áreas de Marketing y Ventas en los sectores de moda y belleza, me ha parecido 
# especialmente interesante realizar un dashboard sobre el catálog de productos de Sephora.

In [ ]:
# En las siguientes líneas lo que vamos a hacer es examinar los datos, ver si tiene valores null, eliminar las columnas que no
# nos interesen para la visualización en Kibana, eliminar caracteres especiales, así como crear columnas nuevas que nos ayudarán
# a visualizar ciertas métricas en Kibana.

In [524]:
data=pd.read_csv("sephora.csv", sep=",", encoding='utf8')

In [525]:
data.head()

,Unnamed: 0,Unnamed: 0.1,id,brand,category,name,size,rating,number_of_reviews,love,price,value_price,MarketingFlags,MarketingFlags_content,online_only,exclusive,limited_edition,limited_time_offer,discounts,product_name
0,0,0,2218774,Acqua Di Parma,Fragrance,BluMediterraneoMINIATURESet,5x016oz5mL,4.0,4,3002,66.0,75.0,True,online only,Online exclusive,No exclusive,No Limited Edit.,No limited time offer,9.0,BluMediterraneoMINIATURESet Acqua Di Parma
1,1,1,2044816,Acqua Di Parma,Cologne,Colonia,07oz20mL,4.5,76,2700,66.0,66.0,True,online only,Online exclusive,No exclusive,No Limited Edit.,No limited time offer,No discount,Colonia Acqua Di Parma
2,2,2,1417567,Acqua Di Parma,Perfume,AranciadiCapri,5oz148mL,4.5,26,2600,180.0,180.0,True,online only,Online exclusive,No exclusive,No Limited Edit.,No limited time offer,No discount,AranciadiCapri Acqua Di Parma
3,3,3,1417617,Acqua Di Parma,Perfume,MirtodiPanarea,25oz74mL,4.5,23,2900,120.0,120.0,True,online only,Online exclusive,No exclusive,No Limited Edit.,No limited time offer,No discount,MirtodiPanarea Acqua Di Parma
4,4,4,2218766,Acqua Di Parma,Fragrance,ColoniaMiniatureSet,5x016oz5mL,3.5,2,943,72.0,80.0,True,online only,Online exclusive,No exclusive,No Limited Edit.,No limited time offer,8.0,ColoniaMiniatureSet Acqua Di Parma

In [526]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9168 entries, 0 to 9167
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              9168 non-null   int64
 1   Unnamed: 0.1            9168 non-null   int64
 2   id                      9168 non-null   int64
 3   brand                   9168 non-null   object
 4   category                9168 non-null   object
 5   name                    9168 non-null   object
 6   size                    9168 non-null   object
 7   rating                  9168 non-null   float64
 8   number_of_reviews       9168 non-null   int64
 9   love                    9168 non-null   int64
 10  price                   9168 non-null   float64
 11  value_price             9168 non-null   float64
 12  MarketingFlags          9168 non-null   bool
 13  MarketingFlags_content  9168 non-null   object
 14  online_only             9168 non-null   object
 15  exclusive               9168 non-null   object
 16  limited_edition         9168 non-null   object
 17  limited_time_offer      9168 non-null   object
 18  discounts               9168 non-null   object
 19  product_name            9168 non-null   object
dtypes: bool(1), float64(3), int64(5), object(11)
memory usage: 1.3+ MB

In [530]:
data['MarketingFlags_content']=data['MarketingFlags_content'].replace(['0'], 'normal product')

In [531]:
data['online_only']=data['online_only'].replace([0, 1], ['No Online exclusive', 'Online exclusive'])

In [532]:
data['exclusive']=data['exclusive'].replace([0, 1], ['No exclusive', 'Sephora exclusive'])

In [533]:
data['limited_edition']=data['limited_edition'].replace([0, 1], ['No Limited Edit.', 'Limited Edition'])

In [534]:
data['limited_time_offer']=data['limited_time_offer'].replace([0, 1], ['No limited time offer', 'Limited time offer'])

In [535]:
data['discounts']= data['value_price']-data['price']

In [536]:
data['discounts']=data['discounts'].replace(["No Discount" if e == 0.0 else "Discount" for e in data['discounts']])

In [537]:
data['discounts']=data['discounts'].replace([0.0], ['No discount'])

In [538]:
data['discounts'].value_counts()

No discount    8619
15.0             23
8.0              21
10.0             21
22.0             19
               ...
15.5              1
93.0              1
97.0              1
100.0             1
10.5              1
Name: discounts, Length: 108, dtype: int64

In [539]:
data['Product name'] = data['name'] + ' ' + data['brand']

In [540]:
total_nan_values = data.isnull().sum()
print ("Total Number of NaN values: "+'\n'+str(total_nan_values))

Total Number of NaN values:
Unnamed: 0                0
Unnamed: 0.1              0
id                        0
brand                     0
category                  0
name                      0
size                      0
rating                    0
number_of_reviews         0
love                      0
price                     0
value_price               0
MarketingFlags            0
MarketingFlags_content    0
online_only               0
exclusive                 0
limited_edition           0
limited_time_offer        0
discounts                 0
product_name              0
Product name              0
dtype: int64

In [541]:
data['name'] = data['name'].str.replace(r"[^a-zA-Z\d\_]+", " ")

c:\users\marta\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [542]:
data['product_name'] = data['product_name'].str.replace(r"[^a-zA-Z\d\_]+", " ")

c:\users\marta\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [543]:
data['MarketingFlags_content'] = data['MarketingFlags_content'].str.replace(r"[^a-zA-Z\d\_]+", " ")

c:\users\marta\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [544]:
data['product_name']=data['product_name'].astype(str)
data['MarketingFlags_content']=data['MarketingFlags_content'].astype(str)

In [545]:
data['size'] = data['size'].str.replace(r"[^a-zA-Z\d\_]+", " ")

c:\users\marta\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [546]:
data['size']=data['size'].astype(str)

In [547]:
data.drop(['Product name'], axis=1, inplace=True)

In [548]:
data.shape

(9168, 20)

In [549]:
data.head()

,Unnamed: 0,Unnamed: 0.1,id,brand,category,name,size,rating,number_of_reviews,love,price,value_price,MarketingFlags,MarketingFlags_content,online_only,exclusive,limited_edition,limited_time_offer,discounts,product_name
0,0,0,2218774,Acqua Di Parma,Fragrance,BluMediterraneoMINIATURESet,5x016oz5mL,4.0,4,3002,66.0,75.0,True,online only,Online exclusive,No exclusive,No Limited Edit.,No limited time offer,9.0,BluMediterraneoMINIATURESet Acqua Di Parma
1,1,1,2044816,Acqua Di Parma,Cologne,Colonia,07oz20mL,4.5,76,2700,66.0,66.0,True,online only,Online exclusive,No exclusive,No Limited Edit.,No limited time offer,No discount,Colonia Acqua Di Parma
2,2,2,1417567,Acqua Di Parma,Perfume,AranciadiCapri,5oz148mL,4.5,26,2600,180.0,180.0,True,online only,Online exclusive,No exclusive,No Limited Edit.,No limited time offer,No discount,AranciadiCapri Acqua Di Parma
3,3,3,1417617,Acqua Di Parma,Perfume,MirtodiPanarea,25oz74mL,4.5,23,2900,120.0,120.0,True,online only,Online exclusive,No exclusive,No Limited Edit.,No limited time offer,No discount,MirtodiPanarea Acqua Di Parma
4,4,4,2218766,Acqua Di Parma,Fragrance,ColoniaMiniatureSet,5x016oz5mL,3.5,2,943,72.0,80.0,True,online only,Online exclusive,No exclusive,No Limited Edit.,No limited time offer,8.0,ColoniaMiniatureSet Acqua Di Parma

In [550]:
data.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace=True)

In [552]:
data.head(3)

,id,brand,category,name,size,rating,number_of_reviews,love,price,value_price,MarketingFlags,MarketingFlags_content,online_only,exclusive,limited_edition,limited_time_offer,discounts,product_name
0,2218774,Acqua Di Parma,Fragrance,BluMediterraneoMINIATURESet,5x016oz5mL,4.0,4,3002,66.0,75.0,True,online only,Online exclusive,No exclusive,No Limited Edit.,No limited time offer,9.0,BluMediterraneoMINIATURESet Acqua Di Parma
1,2044816,Acqua Di Parma,Cologne,Colonia,07oz20mL,4.5,76,2700,66.0,66.0,True,online only,Online exclusive,No exclusive,No Limited Edit.,No limited time offer,No discount,Colonia Acqua Di Parma
2,1417567,Acqua Di Parma,Perfume,AranciadiCapri,5oz148mL,4.5,26,2600,180.0,180.0,True,online only,Online exclusive,No exclusive,No Limited Edit.,No limited time offer,No discount,AranciadiCapri Acqua Di Parma

In [522]:
data.to_csv('sephora.csv')

In [ ]:
# Esta es el dashboard resultante en Kibana una vez realizada la ingesta de datos en ElasticSearch.

![img](Sephora1.png)

![img](Sephora2.png)

### <span style="color:black">Exercici 3.</span>

__Implementa un dashboard que generi gràfics utilitzant diferents tipus de gràfics que ofereix Kibana:__ <span style="color:blue">__[X] Fet__</span>

In [ ]:
# Con la base de datos eCommerce de Kibana, que también era un dataset que me interesaba por mi background profesional, he 
# intentado  generar diversos tipos de gráficos: métricas simples, mapas, series temporales, métricas agrupadas, barras, etc.

![img](eCommerce1.png)

![img](eCommerce2.png)

![img](eCommerce3.jpg)